<h5 class="alert alert-info text-center">Requested Info!</h5>
<table>
    <tr>
        <th>Argumentos de Entrada</th>
        <th>Nombre de la Plataforma</th>
        <th>Version de Node</th>
        <th>Memoria total reservada</th>
        <th>Path de ejecucion</th>
        <th>Process ID</th>
        <th>Carpeta del proyecto</th>
    </tr>
    <tr>
        <td>{{args}}</td>
        <td>{{so}}</td>
        <td>{{nodeVer}}</td>
        <td>{{memoryUsage}}</td>
        <td>{{execPath}}</td>
        <td>{{pId}}</td>
        <td>{{projectFile}}</td>
    </tr>    
</table>